extends layout.pug

block content
  h1 About Us
  p
    | I'm a fast-learner and proficient IT Engineer, with a primary focus on developing high-performance and secure data applications. My expertise lies in leveraging innovative solutions to enhance data processes and drive impactful outcomes.
  h2 Background and Experience
  p
    | I have worked on various projects including:
  ul
    li 
      | An Integrated MCDM Approach for Cloud Service Selection Based on TOPSIS and BWM: Multi Criteria Decision Analysis (MCDM), Analytic Hierarchy Process(AHP), Python.
    li 
      | Monte Carlo Simulation for Portfolio Risk Evaluation: Python, Pandas, Streamlit, Plotly Express, Statsmodels.
    li 
      | Navigating COVID-19 Control: Leveraging Imperfect Models and Rapid Measurements: MATLAB/Simulink.
    li 
      | Building Secure Social Media API: FastAPI, SQL databases, SqlAlchemy, OAuth2, Docker, database integration, testing, CI/CD.
    li 
      | Building Secure Social Media API: FastAPI, SQL databases, SqlAlchemy, OAuth2, Docker, database integration, testing, CI/CD.
    li 
      | Developing Microservices for E-commerce Platforms: Flask, Docker, Kubernetes, RabbitMQ, Redis.
    li 
      | Implementing Machine Learning Models for Predictive Analytics: Scikit-learn, TensorFlow, Keras, PyTorch.
    li 
      | Creating Deep Learning Solutions for Image and Speech Recognition: TensorFlow, Keras, PyTorch, OpenCV.
  h2 Skills
  ul
    li | Programming languages: C/C++, Python, Java, JavaScript.
    li | Artificial Intelligence: Neural Networks (CNN, LSTM), Auto-Encoder, GLMs, Reinforcement Learning, Supervised and Unsupervised Learning, NLP, Computer Vision, Heuristics, Genetic Algorithms.
    li | Big Data: Hadoop, Spark, Apache Kafka, Apache Flink.
    li | Cloud: Azure, Docker, KVM, Containers, Kubernetes.
  h2 Education
  p
    | Engineer's degree in Computer Science & Data Science from ENSMR: Ecole Nationale Supérieure des Mines de Rabat. Also completed advanced studies in mathematics and fundamental physics during CPGE - "Classe préparatoire aux grandes écoles" days.
  h2 Experience
  ul
    li | Intern at FIND SOLUTIONS: Predictive Modeling of Electricity Consumption and Advanced Time Series Analysis.
    li | Summer internship at OCP Group: Intelligent agriculture project.
    li | Summer internship at ENSMR: Machine learning solution to smart gardening.
    li | Job shadowing at BANK-AL-MAGHRIB.
  p
    | Contact Sami at s.aridal@enim.ac.ma for more information.